﻿@model NewProductViewModel
@{
    ViewBag.Title = "Create Product";
    
   var imageurl = !string.IsNullOrEmpty(Model.ImageURL) ? Model.ImageURL : "/Content/Images/system/placeholder.png";
    
}

<h2>Create Product</h2>



<form id="createProduct">



    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <lable>Category<span class="text-danger">*</span></lable>
                <select class="form-control" name="CategoryID">
                    @foreach (var Category in Model.AvailableCategories)
                    {
                        <option value="@Category.ID">@Category.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <lable class="form-group">Name<span class="text-danger">*</span></lable>
                <input class="form-control" name="Name" />

            </div>

            <div class="form-group">

                <lable>Description</lable>
                <input class="form-control" name="Description" />

            </div>


            <div class="form-group">

                <lable>Price<span class="text-danger">*</span></lable>
                <input class="form-control" name="Price" />

            </div>


            <div class="form-group">
                <lable>Image<span class="text-danger">*</span></lable>
                <input id="ImageUrl" type="hidden" name="ImageUrl" />
                <input id="imageUpload" name="Image" type="file" accept=".png,.jpg" />
                <br />
            </div>



            @*<div class="form-group">
                <lable>Is Featured?</lable>
                <div class="input-group">
                    <div class="radio form-control">
                        <label><input type="radio" name="isfeatured" value="true" /> true</label>
                    </div>
                    <div class="radio form-control">
                        <label><input type="radio" name="isfeatured" value="false" /> False</label>
                    </div>
                </div>
                @*<input class="form-control" type="radio" name="isfeatured" value="true" /> true
                    <input class="form-control" type="radio" name="isfeatured" value="false" /> False


            </div>*@


            <button id="saveBtn" type="button" class="btn btn-primary"> Save Product</button>
            <button id="cancleBtn"  class="btn btn-danger" type="button">Cancle</button>
        </div>

        <div class="col-md-4">

            <div class="thumb">
                <img src="@imageurl" id="Productimage"  class="img-thumbnail img-fluid"  />
            </div>
        </div>

    </div>

</form>


<script>

    $("#cancleBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer")
    });


    
    $('#imageUpload').change(function () {
        debugger;

        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("UploadImage", "Shared")', //'/Shared/UploadImage',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {
                debugger;
                console.log(response)
                if (response.Success) {
                    $('#ImageUrl').val(response.ImageURL)
                    $('#Productimage').attr("src", response.ImageURL)
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });


    });


    $("#saveBtn").click(function () {

        if ($("#createProduct").valid()) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Create","Product")', //'/Product/Create',
                data: $('#createProduct').serialize()
            })
                .done(function (response) {
                    $("#tableContainer").html(response);
                    $("#actionContainer").html("");
                    focusAction("tableContainer")
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail");
                });
        }
        else {
            {
                swal({
                    title: " JQury Warning..!!",
                    text: "Please enter all Required Data fields",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                });
            }
        }
     
    });




    $("#createProduct").validate({
        // Specify validation rules
        rules: {
            // The key name on the left side is the name attribute
            // of an input field. Validation rules are defined
            // on the right side   
            Name: { required: true, minlength: 5, maxlength: 50 },
            Description: { maxlength: 500 },
            Price: { range : [1,100000]}, //{ required: true, minlength: 1, maxlength: 7 },
            Image: { required: true },
        },
        // Specify validation error messages
        messages: {
            Name: { required: 'Name is Required', minlength: 'Minimum length is 5', maxlength: 'Maximun length is 50' },
            Description: { maxlength: 'Maximun length is 500' },
            Price: { required: 'Price is Required', minlength: 'Minimum Price is 1', maxlength: 'Maximun Price is 999999' },
            Image: { required: 'Product Image is required'},
        },

    });
</script>