﻿


@*This is Product Create View*@

@model Market.Web.ViewModels.EditProductModel

@{
    ViewBag.Title = "Edit Product";

    var imageurl = !string.IsNullOrEmpty(Model.ImageUrl) ? Model.ImageUrl : "/Content/Images/system/placeholder.png";

}

<h2>Edit Product</h2>
<form id="EditProduct">

    <input type="hidden" name="ID" value="@Model.ID" />
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Category</label>
                <select class="form-group" name="CategoryId">
                    @foreach (var category in Model.AvailableCategories)
                    {
                        var selected = category.ID == Model.CategoryID ? "Selected" : string.Empty;
                        <option value="@category.ID" @selected>@category.Name </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <lable class="form-group">Name</lable>
                <input class="form-control" name="Name" value="@Model.Name" />
            </div>

            <div class="form-group">
                <lable>Description</lable>
                <input class="form-control" name="Description" value="@Model.Description" />
            </div>
            <div class="form-group">
                <lable>Price</lable>
                <input class="form-control" name="Price" value="@Model.Price" />
            </div>

            <div class="form-group">
                <lable>Image</lable>
                <input id="ImageUrl" type="hidden" name="ImageUrl" value="@Model.ImageUrl" />
                <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png,.jpg" />
                <br />
            </div>

            <div class="form-group">
                <button id="updateBtn" type="button">Update Product</button>
                <button id="cancleBtn" type="button">cancle</button>

            </div>

        </div>


        <div class="col-md-4">

            <div class="thumb">
                <img src="@imageurl" class="img-thumbnail img-fluid" id="ProductImage" />
            </div>
        </div>


    </div>


</form>



<script>
    $("#cancleBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer")
    });

    $('#imageUpload').change(function () {

        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("UploadImage", "Shared")', //'/Shared/UploadImage',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {

                console.log(response)
                if (response.Success) {
                    $('#ImageUrl').val(response.ImageURL)
                    $('#ProductImage').attr("src", response.ImageURL)
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });


    $("#updateBtn").click(function () {



        
        if ($("#EditProduct").valid()) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Edit", "Product")', //'/Product/Create',
                data: $('#EditProduct').serialize()
            })
                .done(function (response) {
                    $("#tableContainer").html(response);
                    $("#actionContainer").html("");
                    focusAction("tableContainer")
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail");
                });
        }
        else {
            {
                swal({
                    title: " JQury Warning..!!",
                    text: "Please enter all Required Data fields",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                });
            }
        }
     


        @*$.ajax({
            type: "POST",
            url: '@Url.Action("Edit", "Product")', //'/Product/Edit',
            data: $('#EditProduct').serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
                focusAction("tableContainer")
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });*@
    });


    $("#EditProduct").validate({
        // Specify validation rules
        rules: {
            // The key name on the left side is the name attribute
            // of an input field. Validation rules are defined
            // on the right side   
            Name: { required: true, minlength: 5, maxlength: 50 },
            Description: { maxlength: 500 },
            Price: { range: [1, 100000] }, //{ required: true, minlength: 1, maxlength: 7 },
            
        },
        // Specify validation error messages
        messages: {
            Name: { required: 'Name is Required', minlength: 'Minimum length is 5', maxlength: 'Maximun length is 50' },
            Description: { maxlength: 'Maximun length is 500' },
            Price: { required: 'Price is Required', minlength: 'Minimum Price is 1', maxlength: 'Maximun Price is 999999' },
            
        },

    });
</script>