﻿@model ProductSearchViewModel
@{
    ViewBag.Title = "Product Table";

}

@*<!-- Bootstrap  --> DAtaTable
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<!-- JavaScrip  -->
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>*@

<div>

    @*<h3>Products<span>( @Model.Products.Count )</span></h3>*@
    <br />
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" id="searchtxt" name="Search" value="@Model.SearchTerm" placeholder="Search Products Here !!" />
                </div>
            </div>
            <div class="col-md-6">
                <button type="button" id="searchBtn" class="btn btn-primary">Search</button>
                <button type="button" id="resetBtn" class="btn btn-success ">Reset Search</button>
                <button type="button" id="newBtn" class="btn btn-warning">Create New Product</button>
            </div>

        </div>


    </form>
</div>

<div>
    <table id="ProductsTable" class="table" >
        <thead class="font-weight-bold">
            <tr>
                <th class="font-weight-bold"> Prodcuts Name (@Model.Pager.TotalItems)</th>
                <th class="font-weight-bold">Product Category</th>
                <th class="font-weight-bold">Price</th>
                <th class="font-weight-bold">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Products != null && Model.Products.Count > 0)
            {
                foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>
                            @if (product.Category != null)
                            {
                                <text>@product.Category.Name</text>
                            }
                            else
                            {
                                <text></text>
                            }
                        </td>
                        <td>@product.Price</td>
                        <td>
                            <button class="editBtn" data-id="@product.ID">Edit</button>

                            <button class="deleteBtn" data-id="@product.ID">Delete</button>

                            @*<button class="addtocart" data-id="@product.ID">add to cart</button>*@
                        </td>
                    </tr>
                }
            }
            else
            {
          
                <tr>
                    <td class="text-danger" colspan="4">
                 
                        No Product Found
                    </td>
                </tr>
            }


        </tbody>
    </table>
    <div>
        @if (Model.Pager != null && Model.Pager.TotalPages > 1)
        {


            if (Model.Pager.CurrentPage > 1)
            {
                <button class="pageButtons" data-pageNo="1"> First </button>
                <button class="pageButtons" data-pageNo="@(Model.Pager.CurrentPage - 1)"> Previous </button>
            }
            for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
            {
                string activeClass = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;

                <button class=" @activeClass pageButtons" data-pageNo="@page"> @page </button>
            }
            if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <button class="pageButtons" data-pageNo="@(Model.Pager.CurrentPage + 1)"> next </button>
                <button class="pageButtons" data-pageNo="@Model.Pager.EndPage"> Last </button>
            }





        }
   


    </div>
</div>


<script>
    //$(document).ready(function () {
    //    $('#myTable').DataTable();
    //});
   // $('#ProductsTable').DataTable(); 

    $(".pageButtons").click(function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("ProductTable", "Product")', //'/Product/ProductTable',
            data: {
                pageNo: $(this).attr("data-pageno"),
                search: '@Model.SearchTerm'

            }
        })
            .done(function (response) {
                $("#actionContainer").html("");
                focusAction("tableContainer");
                $("#tableContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });





    $("#searchBtn").click(function () {
        var seacrhvalue = $("#searchtxt").val();

        $.ajax({
            type: "GET",
            url: '@Url.Action("ProductTable", "Product")', //'/Product/ProductTable',
            data: { search: seacrhvalue }
        })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });



    $("#resetBtn").click(function () {
        var seacrhvalue = $("#searchtxt").val();

        $.ajax({
            type: "GET",
            url: '@Url.Action("ProductTable", "Product")', //'/Product/ProductTable',

        })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

    /*'/Product/Create'*/

    $("#newBtn").click(function () {
      
        $.ajax({
            type: "GET",
            url: '@Url.Action("Create","Product")',
        })
            .done(function (response) {
                $("#actionContainer").html(response);
                focusAction("actionContainer");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });



    $(".editBtn").click(function () {

        $.ajax({
            type: "GET",
            url: '@Url.Action("Edit", "Product")', // '/Product/Edit',
            data: {
                ID: $(this).attr('data-id')
            }
        })
            .done(function (response) {
                $("#actionContainer").html(response);
                focusAction("actionContainer");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });
     


    $(".deleteBtn").click(function () {

        swal({
            title: "Confirm?",
            text: "Once deleted, you will not be able to recover this Product !!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete", "Product")', //'/Product/Delete',
                        data: {
                            ID: $(this).attr('data-id')
                        }

                    })
                    .done(function (response) {
                       $("#tableContainer").html(response);
                       $("#actionContainer").html("");
                        focusAction("tableContainer");
                        })
                        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("Fail");
                        });
                    swal("Product Record Deleted Successfully", {
                        icon: "success",
                    });

                }
            });

        //debugger;

        //var confirmDelete = confirm("Are you sure you want to delete it ?");
        //if (confirmDelete) {
        //    $.ajax({
        //        type: "POST",
        //        url: '/Product/Delete',
        //        data: {
        //            ID: $(this).attr('data-id')
        //        }

        //    })
        //        .done(function (response) {
        //            $("#tableContainer").html(response);
        //        })
        //        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        //            alert("Fail");
        //        });
        //}

    });



    //var products = [];
    //$(".addtocart").click(function () {
    //    debugger;
    //    var productID = $(this).attr("data-id");
    //    products.push(productID);
    //    $.cookie('cartProducts', products.join('-'), { path: '/' });
    //    debugger;
    //    swal("Done", "Product Added To Cart!", "success");
    //});

</script>