﻿@model ConfigurationSearchViewModel
@{
    ViewBag.Title = "Configuration Table";
}

<div>
    <br />
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" id="searchtxt" name=" Search" placeholder="Search Category Here !!" />
                </div>
            </div>
            <div class="col-md-6">
                <button type="button" id="searchBtn" class="btn btn-primary">Search</button>
                <button type="button" id="resetBtn" class="btn btn-success ">Reset Search</button>
                <button type="button" id="newBtn" class="btn btn-warning">Create New Configuration</button>
            </div>

        </div>


    </form>
</div>


<div>
    <table class="table">
        <thead class="font-weight-bold">
            <tr>
                <td> Configuration Name (Key)</td>
                <td> Configuration Value</td>
                <td class="wrap-td">Actions</td>
            </tr>
        </thead>
        <tbody>
            @if (Model.ConfigurationList != null && Model.ConfigurationList.Count > 0)
            {
                foreach (var Configuration in Model.ConfigurationList)
                {
            <tr>
                <td>@Configuration.Key</td>
                <td>@Configuration.Value</td>
                <td>
                    <button class="editBtn" data-id="@Configuration.Key">Edit</button>

                    <button class="deleteBtnn" data-id="@Configuration.Key">Delete</button>
                </td>
            </tr>
                }
            }
            else
            {<tr><td colspan="3" class="text-danger">No Connfiguration Found</td></tr>}


        </tbody>
    </table>
</div>
<script>
       $("#newBtn").click(function () {
        
        $.ajax({
            type: "GET",
            url : '/Configuration/Create',
        })
            .done(function (response) {
                $("#actionContainer").html(response);
                focusAction()
            })
            .fail(function (XMLHttpResuest,textStatus,errorThrown) {
                alert("fail")
            })
    });


    function focusAction() {
        $('html, body').animate({
            scrollTop: $("#actionContainer").offset().top - 100
        }, 1000);
    }

    $(".editBtn").click(function () {

        $.ajax({
            type: "GET",
            url: '/Configuration/Edit',
            data: {
                ID: $(this).attr('data-id')
            }
        })
            .done(function (response) {
                $("#actionContainer").html(response);
                focusAction()
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

    $(".deleteBtnn").click(function () {
        var confirmDelete = confirm("Are you sure you want to delete it ?");
        if (confirmDelete) {
            $.ajax({
                type: "POST",
                url: '/Configuration/Delete',
                data: {
                    ID: $(this).attr('data-id')
                }

            })
                .done(function (response) {
                    $("#tableContainer").html(response);
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail");
                });
        }
            });
         

</script>