﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form id="createConfiguration">


    <div class="row">

        <div class="col-md-12">
            <div class="form-group">
                <lable class="form-group">Configuration Name (key)</lable>
                <input class="form-control" name="key" />

            </div>

            <div class="form-group">

                <lable>Configuration Value</lable>
                <input class="form-control" name="Value" />

            </div>

            <button id="saveBtn" type="button"> Save Configuration</button>
            <button id="cancleBtn" type="button">Cancle</button>
        </div>

    </div>


</form>

<script>
    $("#cancleBtn").click(function () {
        $("#actionContainer").html("");
    });
     

    $("#saveBtn").click(function () {

        $.ajax({
            type: "POST",
            url: '/Configuration/Create',
            data: $("#createConfiguration").serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });

    });

</script>