﻿@model ConfigurationEditViewModel
@{
    ViewBag.Title = "Edit";
    string s = Model.Key;
}

<h2>Edit</h2>


<form id="createConfiguration">


    <div class="row">

        <input type="hidden"  name="Key" value="@Model.Key" />
        <div class="col-md-12">
            <div class="form-group">
                <lable class="form-group">Configuration Name (key)</lable>
                <input class="form-control" value="@s" disabled />

            </div>

            <div class="form-group">

                <lable>Configuration Value</lable>
                <input class="form-control" name="Value" value="@Model.Value" />

            </div>

            <button id="saveBtn" type="button"> Save Configuration</button>
            <button id="cancleBtn" type="button">Cancle</button>
        </div>

    </div>


</form>

<script>
    $("#cancleBtn").click(function () {
        $("#actionContainer").html("");
    });


    $("#saveBtn").click(function () {

        $.ajax({
            type: "POST",
            url: '/Configuration/Edit',
            data: $("#createConfiguration").serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });

    });

</script>
