﻿
@{
    ViewBag.Title = "Configuration Index";
}

<section class="flat-row flat-iconbox">

    <div class="row">
        <div class="col-md-12">
            <div class="title-section">
                <h2 class="title">
                    Configuration
                </h2>
            </div><!-- /.title-section -->
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->

</section><!-- /.flat-row -->


<div class="container">
    <div id="tableContainer">
        @{
            Html.RenderAction("ConfigurationTable");

        }
    </div>
    <hr />
    <div id="actionContainer">

    </div>
</div>



