﻿@model AdminViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Details
                    </h2>
                </div><!-- /.title-section -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row -->

<div>


    <div class="container">
        <div class="col">
            <table class="table table-bordered table-hover  text-center font-weight-bold ">
                <thead>
                    <tr>
                        <th>  Name </th>
                        <th>Total</th>
                        <th>Click for View</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @if (Model != null)
                    {
                        <tr>
                            <td class="text-left"> Total Categories</td>
                            <td>
                                @Model.CategoryCount
                            </td>

                            <td>
                                <a href="@Url.Action("Category","Admin")"><button style="background-color:darkorange;color:black">Categorie's</button> </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left"> Total Products</td>
                            <td>
                                @Model.ProductCount
                            </td>

                            <td>
                                <a href="@Url.Action("Products","Admin")"><button style="background-color:deepskyblue;color:black">Product's</button> </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left"> Total Configuration</td>
                            <td>
                                @Model.ConfigurationCount
                            </td>
                            <td>
                                <a href="@Url.Action("Configurations","Admin")"><button style="background-color:darkturquoise;color:black">Configuration's</button> </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left"> Total Order</td>
                            <td>
                                @Model.ToalordersCount
                            </td>
                            <td>
                                <a href="@Url.Action("Orders","Admin")"><button style="background-color:hotpink;color:black">Order's</button> </a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

