﻿


<head>
    <meta charset="utf-8">

    <title>Dashboard </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>


    <script src="~/Content/javascript/jquery.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="~/Content/Admin/bootstrap.bundle.min.js"></script>

    @*<link rel="stylesheet"  href="~/Content/stylesheets/bootstrap.min.css">*@


    <!-- Custom styles for this template -->
    <link href="~/Content/Admin/dashboard.css" rel="stylesheet" />


    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>*@
    <script src="~/Content/jquery.validate.min.js"></script>
    @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
    <script src="~/Content/sweetalert.min.js"></script>






    <meta charset="utf-8">

    <title>@ViewBag.Title - Market</title>


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    @*<link rel="stylesheet" type="text/css" href="~/Content/stylesheets/bootstrap.css">*@


    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/responsive.css">


    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/colors/color1.css" id="colors">


    <link rel="stylesheet" type="text/css" href="~/content/stylesheets/animate.css">


    <!-- Favicon and touch icons  -->
    <link href="~/favicon.ico" rel="shortcut icon">

    <!--[if lt IE 9]>
        <script src="javascript/html5shiv.js"></script>
        <script src="javascript/respond.min.js"></script>
    <![endif]-->
    <!-- Javascript -->

    <script src="~/Content/javascript/jquery.min.js"></script>
    <script src="~/Content/javascript/jquery-ui.js"></script>








</head>
<html>

<body>
    <nav class="navbar navbar-dark sticky-top text-white flex-md-nowrap p-0 shadow" style="background-color:black;">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3 Team-Position" href="#">Market</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <text class="text-white Team-Position">Market Admin Dashboard</text>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="@Url.Action("Index","Home")">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block text-white  sidebar collapse" style="background-color:#f85656;">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">

                        <br />
                        <li class="nav-item">
                            <a class="nav-link h4 " style="color:black" href="@Url.Action("Index","Admin")">
                                <span data-feather="home"></span>
                                Admin Home <span class="sr-only">(current)</span>
                            </a>
                            <a class="nav-link h4 " style="color:black" href="@Url.Action("Category","Admin")">
                                <span data-feather="home"></span>
                                Manage Category <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link h4" style="color:black" href="@Url.Action("Products","Admin")">
                                <span data-feather="file"></span>
                                Manage Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link h4" style="color:black" href="@Url.Action("Configurations","Admin")">
                                <span data-feather="file"></span>
                                Manage Configurations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link h4" style="color:black" href="@Url.Action("Orders","Admin")">
                                <span data-feather="file"></span>
                                Manage User Order's
                            </a>
                        </li>


                    </ul>

                    @*<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Saved reports</span>
                            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                                <span data-feather="plus-circle"></span>
                            </a>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file-text"></span>
                                    Current month
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file-text"></span>
                                    Last quarter
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file-text"></span>
                                    Social engagement
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file-text"></span>
                                    Year-end sale
                                </a>
                            </li>
                        </ul>*@
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-3">

                @RenderBody()
                <br />  <br />  <br />  <br />  <br />  <br />
            </main>
        </div>
    </div>

    <div class="footer-bottom fixed-bottom  " style="background-color:black">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <p class="copyright text-center Team-Description text-white "style="color:black" >Copyright 2020 Market</p>
                </div>
            </div>
        </div>
    </div>






















    @*<script src="~/Content/javascript/tether.min.js"></script>
        <script src="~/Content/javascript/bootstrap.min.js"></script>
        <script src="~/Content/javascript/jquery.easing.js"></script>
        <script src="~/Content/javascript/parallax.js"></script>
        <script src="~/Content/javascript/jquery-waypoints.js"></script>
        <script src="~/Content/javascript/jquery-countTo.js"></script>
        <script src="~/Content/javascript/jquery.countdown.js"></script>
        <script src="~/Content/javascript/jquery.flexslider-min.js"></script>
        <script src="~/Content/javascript/images-loaded.js"></script>
        <script src="~/Content/javascript/jquery.isotope.min.js"></script>
        <script src="~/Content/javascript/magnific.popup.min.js"></script>
        <script src="~/Content/javascript/jquery.hoverdir.js"></script>
        <script src="~/Content/javascript/owl.carousel.min.js"></script>
        <script src="~/Content/javascript/equalize.min.js"></script>
        <script src="~/Content/javascript/gmap3.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIEU6OT3xqCksCetQeNLIPps6-AYrhq-s&region=GB"></script>


        <script src="~/Content/javascript/jquery.cookie.js"></script>
        <script src="~/Content/javascript/main.js"></script>


        <!-- Revolution Slider -->
        <script src="~/Content/rev-slider/js/jquery.themepunch.tools.min.js"></script>
        <script src="~/Content/rev-slider/js/jquery.themepunch.revolution.min.js"></script>
        <script src="~/Content/javascript/rev-slider.js"></script>
        <!-- Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading -->
        <script src="~/Content/rev-slider/js/extensions/revolution.extension.actions.min.js"></script>
        <script src="~/Content/rev-slider/js/extensions/revolution.extension.carousel.min.js"></script>
        <script src="~/Content/rev-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script src="~/Content/rev-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="~/Content/rev-slider/js/extensions/revolution.extension.migration.min.js"></script>
        <script src="~/Content/rev-slider/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="~/Content/rev-slider/js/extensions/revolution.extension.parallax.min.js"></script>
        <script src="~/Content/rev-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="~/Content/rev-slider/js/extensions/revolution.extension.video.min.js"></script>*@




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>








</body>
</html>