﻿<!-- Page title -->
<div class="page-title parallax parallax2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Contact US</h1>
                </div><!-- /.page-title-heading -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li><a href="@Url.Action("Index","Contact")">Contact</a></li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->

<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Get In Touch
                    </h2>
                </div><!-- /.title-section -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-4">
                <div class="iconbox text-center">
                    <div class="box-header nomargin">
                        <div class="icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-content">
                        <p>@ConfigurationService.Instance.GetConfiguration("Address").Value</p>
                    </div><!-- /.box-content -->
                </div><!-- /.iconbox -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="divider h0"></div>
                <div class="iconbox text-center">
                    <div class="box-header">
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-content">
                        <p>@ConfigurationService.Instance.GetConfiguration("Contact").Value</p>
                    </div><!-- /.box-content -->
                </div><!-- /.iconbox -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="divider h0"></div>
                <div class="iconbox text-center">
                    <div class="box-header">
                        <div class="icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-content">
                        <p>@ConfigurationService.Instance.GetConfiguration("Email").Value</p>
                    </div><!-- /.box-content -->
                </div><!-- /.iconbox -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
        <div class="divider h43"></div>
        <div class="row">
            <div class="col-md-12">
            <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387.1760099802902!2d77.29531745537322!3d28.632263950838592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfb52e0053ea1%3A0xfa18002d31d3c1b9!2sGift%20Zone!5e0!3m2!1sen!2sin!4v1595545223557!5m2!1sen!2sin" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div> @*<div class="flat-map"></div>*@
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row -->

<section class="flat-row flat-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section margin_bottom_17">
                    <h2 class="title">
                        Send Us Email
                    </h2>
                </div><!-- /.title-section -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="wrap-contact">
                <form novalidate="" class="contact-form" id="contactform" method="post" action="#">
                    <div class="form-text-wrap clearfix">
                        <div class="contact-name clearfix">
                            <label>Name</label>
                            <input type="text" aria-required="true" size="30" value="" name="author" id="author">
                        </div>
                        <div class="contact-email">
                            <label>Email</label>
                            <input type="email" size="30" value="" name="email" id="email">
                        </div>
                        <div class="contact-subject">
                            <label>Subject</label>
                            <input type="text" aria-required="true" size="30" value="" name="subject" id="subject">
                        </div>
                    </div>

                    <div class="contact-message clearfix margin-top-40">
                        <label>Message</label>
                        <textarea class="" tabindex="4" name="message" required></textarea>
                    </div>
                    <div class="form-submit margin-top-32 ">
                        <button class="contact-submit">SEND</button>
                    </div>
                </form>
            </div><!-- /.wrap-contact -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row -->
