﻿@model ProductWidgetViewMOdel


@{


    var Defaultimageurl = "/Content/Images/system/placeholder.png";
}

@if (Model != null && Model.Products != null)
{

    if (!Model.IsLatestProducts)
    {
<ul class="flat-filter style-1 text-center max-width-682 clearfix">
    @if (ViewBag.id != 0)
    {
        <li class="active"><a href="#" data-filter="*">All Product</a></li>
    }



    @foreach (var category in Model.Products.Select(x => x.Category).ToList().Distinct())
    {
        if (Model.CategoryIDForRelatedproduct != category.ID)
        {
            <li><a href="#" data-filter=".@category.Name.ToLower()"> For @category.Name</a></li>
        }

    }

    @*<li><a href="#" data-filter=".man"> For Man’s</a></li>
        <li><a href="#" data-filter=".woman"> For Woman’s</a></li>
        <li><a href="#" data-filter=".accessories"> Accessories </a></li>*@
</ul>


        <div class="divider h54"></div>
    }


    <div class="product-content product-fourcolumn clearfix">
        <ul class="product style2 isotope-product clearfix">

            @*<------------------------------------------->
                    This Jquery used for filtering by cateory widget
                </------------------------------------------->
                <------------------------------------------->
                    var flatIsotope = function() {
                    if($().isotope) {
                    var $container = $('.isotope-product');
                    $container.imagesLoaded(function(){
                    $container.isotope({
                    itemSelector: '.product-item',
                    transitionDuration: '1s',
                    layoutMode: 'fitRows'
                    });
                    });

                    $('.flat-filter li').on('click',function() {
                    var selector = $(this).find("a").attr('data-filter');
                    $('.flat-filter li').removeClass('active');
                    $(this).addClass('active');
                    $container.isotope({ filter: selector });
                    return false;
                    });
                    };
                </------------------------------------------->*@

            @foreach (var product in Model.Products)
            {

                var imageURL = string.IsNullOrEmpty(product.ImageUrl) ? Defaultimageurl : product.ImageUrl;


                <li class="product-item @product.Category.Name.ToLower() ">
                    <div class="product-thumb clearfix">
                        <a href="@Url.Action("ProductDetails", "Product",new { ID = product.ID  } )" class="product-thumb">
                            <img src="@imageURL" alt="image" style="height:250px; width:250px">
                        </a>
                        @if (Model.IsLatestProducts)
                        {
                            <span class="new">New</span>
                        }
                    </div>

                    <div class="product-info text-center clearfix">
                        <span class="product-title">
                            <br />   @product.Name
                        </span>
                        <div class="price">
                            <ins>
                                <span class="amount">$ @product.Price</span>
                            </ins>
                        </div>
                        @*<ul class="flat-color-list width-14">
                                <li>
                                    <a href="#" class="red"></a>
                                </li>
                                <li>
                                    <a href="#" class="blue"></a>
                                </li>
                                <li>
                                    <a href="#" class="black"></a>
                                </li>
                            </ul>*@
                    </div>

                    <div class="add-to-cart text-center">
                        <a href="#">ADD TO CART</a>
                    </div>
                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                </li>

            }
        </ul>
    </div>


}
