﻿
@model  OrderDetailsViewModels

<div class="row">

    <div class="col-md-12">
        <div class="title-section">
            <h2 class="title">
                <br />
                @Model.OrderedBy.Name Order Detail
            </h2>
        </div><!-- /.title-section -->
    </div><!-- /.col-md-12 -->

</div><!-- /.row -->




@if (Model != null && Model.Order != null)
{

    var i = 1;
    <section class="flat-row main-shop shop-slidebar" style="    padding: 0px 29px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted"><b><h3>Shooping Cart</h3></b></span>
                    </h4>

                    <ul class="list-group mb-3">

                        @foreach (var orderItem in Model.Order.OrderItems)
                        {
                            //var productQuantity = Model.CartProductIDs.Where(productid => productid == product.ID).Count();

                            <li class="list-group-item d-flex justify-content-between lh-condensed" data-id="@orderItem.ID">
                                <div>
                                    <h6 class="my-0" style="color:black;">@i . @orderItem.Product.Name &nbsp Qty - @orderItem.Quantity </h6>

                                    <small class="text-muted">@(orderItem.Product.Description.Length > 100 ? orderItem.Product.Description.Substring(0, 99) : orderItem.Product.Description)</small>
                                </div>
                                <span class="text-muted">Unit Price : $@orderItem.Product.Price -<strong> Total Price: @(orderItem.Quantity * orderItem.Product.Price)</strong></span>
                            </li>

                            i++;
                        }


                        <li class="list-group-item d-flex justify-content-between">
                            <strong>Grand Total (USD)</strong>
                            <strong>
                                @Model.Order.TotalAmount
                            </strong>
                        </li>
                    </ul>

                    <form class="card p-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Promo code">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-secondary" style=" color:black;   background-color: deepskyblue;">Redeem</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-6 order-md-1">
                    <h3 class="mb-3"> @Model.OrderedBy.Name Billing address</h3>
                    <div class="mb-3">
                        <label for="firstName">Full Name</label>
                        <input type="text" style="color:black;" class="form-control" id="fullname" placeholder="" value=" @Model.OrderedBy.Name" disabled>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email </label>
                        <input type="email" style="color:black;" class="form-control" id="Email" value="@Model.OrderedBy.Email" disabled>

                    </div>

                    <div class="mb-3">
                        <label for="address">Address</label>
                        <input type="text" style="color:black;"  class="form-control" id="Address" value="@Model.OrderedBy.Address" disabled>

                    </div>

                    <div class="mb-3">
                        <label for="status"><strong>Status &nbsp;  &nbsp; ( Please Update status From Below DropDown )</strong></label>
                        <select name="Status" id="changeStatus">

                            @foreach (var avilableStatus in Model.AvilableStatuses)
                            {
                                var isSelectedStatus = avilableStatus == Model.Order.Status;

                                <option @(isSelectedStatus ? "selected" : string.Empty)>
                                    @avilableStatus
                                </option>
                            }
                        </select>

                    </div>
                    <br />  <br />  <br />  <br />  <br />
                </div>
            </div>
        </div>
    </section>


    <script>

        $("#changeStatus").change(function () {

        $.ajax({

                url: '@Url.Action("ChangeStatus","Order")', //'/Product/ProductTable',

                data: {
                    status: $("#changeStatus").val(),
                    ID : '@Model.Order.ID'
                }
            })
                .done(function (response) {
                    if (response.Success) {
                        swal("Done", "Order Has Been Updated", "success").then((value) => { window.location = '@Url.Action("Orders", "Admin")'; });;
                        //$("#actionContainer").html("");
                        //focusAction("tableContainer")

                    }
                    else
                    {
                        swal("Error", "Enable To Update  Order", "Warning");
                    }
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail");
                });
        });

    </script>
}


else
{
    <section class="flat-row main-shop shop-slidebar">
        <div class="container">


            <div class="row">
                <b> Order Details Not Avilable </b>


            </div>

        </div>

    </section>
}




@*<script>

            $('#changeStatus').click(function () {
                debugger;
            $.ajax({
                     type: "POST",
                    url:'@Url.Action("ChangeStatus","Order")', //'/Product/ProductTable',

                    data: {
                        status: $("#Status").val(),
                        ID : '@Model.Order.ID'
                    }
                })
                    .done(function (response) {
                        if (response.Success) {
                            swal("Done", "Your Order Has Been Placed", "success");

                        }
                        else
                        {
                            swal("Failed", " Enable To Place Your Order", "Warning");
                        }
                    })
                    .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Fail");
                    });
            });

    </script>*@
