﻿
<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        User Order's
                    </h2>
                </div><!-- /.title-section -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row -->



<div class="container">
    <div id="tableContainerOrder">
        @{
            Html.RenderAction("OrderTable");

            //Html.RenderAction("Create");
        }
    </div>
    <hr />
    <div id="actionContainer">

    </div>
</div>


<script>


        function focusAction(controlToFocus) {
            $('html, body').animate({
                scrollTop: $("#" + controlToFocus).offset().top - 100
            }, 1000);
        }



    </script>