﻿@model OrderViewModels


    
    
   <h3>Total Oders<span>( @Model.Pager.TotalItems )</span></h3>
        <form method="post">
            <div class="row" style="margin-top:10px">

                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" id="searchtxt" name="UserId" value="@Model.userID" placeholder="Search Oder's By His User Id !!" />
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="button" id="searchBtn" class="btn btn-primary">Search</button>
                    <button type="button" id="resetBtn" class="btn btn-success ">Reset Search</button>
                
                </div>

            </div>
        </form>


        <div>
            <table id="OdersTable" class="table">
                <thead class="font-weight-bold">
                    <tr>
                        <th class="font-weight-bold"> User ID</th>
                        <th class="font-weight-bold"> Total Price</th>
                        <th class="font-weight-bold"> Status</th>
                        <th class="font-weight-bold">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Orders != null && Model.Orders.Count > 0)
                    {
                        foreach (var order in Model.Orders)
                        {
                    <tr>
                        <td>@order.UserID</td>
                        <td>
                            @order.TotalAmount
                        </td>
                        <td>@order.Status</td>
                        <td>
                            <button class="detailBtn" data-id="@order.ID">Details</button>
                        </td>
                        @*<td class="wrap-td">
                            <a class="detailBtn" data-id="@order.ID" href="@Url.Action("Details", "Order", new { ID = order.ID })">Details</a>
                        </td>*@
                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-danger" colspan="4">

                                No Product Found
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                @if (Model.Pager != null && Model.Pager.TotalPages > 1)
                {


                    if (Model.Pager.CurrentPage > 1)
                    {
                        <button class="pageButtons" data-pageNo="1"> First </button>
                        <button class="pageButtons" data-pageNo="@(Model.Pager.CurrentPage - 1)"> Previous </button>
                    }
                    for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                    {
                        string activeClass = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;

                        <button class=" @activeClass pageButtons" data-pageNo="@page"> @page </button>
                    }
                    if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <button class="pageButtons" data-pageNo="@(Model.Pager.CurrentPage + 1)"> next </button>
                        <button class="pageButtons" data-pageNo="@Model.Pager.EndPage"> Last </button>
                    }

                }
            </div>
        </div>



<script>

    $(".pageButtons").click(function () {
        debugger;
        $.ajax({
            type: "GET",
            url: '@Url.Action("OrderTable", "Order")', //'/Product/ProductTable',
            data: {
                pageNo: $(this).attr("data-pageno"),
                userID: '@Model.userID',
                status:'@Model.status'
            }
        })
            .done(function (response) {
                $("#actionContainer").html("");
                focusAction("tableContainerOrder");
                $("#tableContainerOrder").html(response);
             
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });


        //function focusAction(controlToFocus) {
        //    $('html, body').animate({
        //        scrollTop: $("#" + controlToFocus).offset().top - 100
        //    }, 1000);
        //}

    $("#searchBtn").click(function ()
    {
        debugger;
        var seacrhvalue = $("#searchtxt").val();

        $.ajax({
            type: "GET",
            url: '@Url.Action("OrderTable", "Order")', //'/Product/ProductTable',
            data: { userID: seacrhvalue }
        })
            .done(function (response) {
                $("#tableContainerOrder").html(response);
                focusAction("tableContainerOrder");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

       $("#resetBtn").click(function () {
        var seacrhvalue = $("#searchtxt").val();

        $.ajax({
            type: "GET",
            url:  '@Url.Action("OrderTable", "Order")', //'/Product/ProductTable',

        })
            .done(function (response) {
                $("#tableContainerOrder").html(response);
                focusAction("tableContainerOrder");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

     
    $(".detailBtn").click(function () {
        debugger;
        $.ajax({
            type: "GET",
            url: '@Url.Action("Details","Order")', // '/Product/Edit',
            data: {
                ID: $(this).attr('data-id')
            }
        })
            .done(function (response) {
                focusAction("actionContainer");
                $("#actionContainer").html(response);

            
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

</script>