﻿
@model Market.Web.ViewModels.CategorySearchViewMOdel
@{
    ViewBag.Title = "CategoryTable";
}

<div>
    <br />
    <form method="post">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">

                    @{string val = Model.SearchTerm != null ? val = Model.SearchTerm : Model.SearchTerm = null; }
                    @*@if (Model.SearchTerm != null)
                    {
                        string serch = Model.SearchTerm;
                        <input class="form-control" id="searchtxt" name=" Search" placeholder="Search Category Here !!" value="@serch" />

                    }
                    else
                    {
                        <input class="form-control" id="searchtxt" name=" Search" placeholder="Search Category Here !!" />

                    }*@

                    <input class="form-control" id="searchtxt" name=" Search" placeholder="Search Category Here !!" value="@val" />

                </div>
            </div>
            <div class="col-md-6">
                <button type="button" id="searchBtn" class="btn btn-primary">Search</button>
                <button type="button" id="resetBtn" class="btn btn-success ">Reset Search</button>
                <button type="button" id="newBtn" class="btn btn-warning">Create New Category</button>
            </div>

        </div>


    </form>
    </div>
    <div>
        <table class="table">
            <thead class="font-weight-bold">
                <tr>
                    <th class="font-weight-bold"> Category Name (@Model.Pager.TotalItems)</th>
                    <th class="font-weight-bold">Products</th>
                    <th class="font-weight-bold">IsFeatured</th>
                    <th class="font-weight-bold wrap-td">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Categories != null && Model.Categories.Count > 0)
                {
                    foreach (var category in Model.Categories)
                    {
                        <tr>
                            <td>@category.Name</td>
                            <td>
                                @category.Products.Count

                            </td>


                            <td>@category.IsFeatured</td>
                            <td>
                                <button class="editBtn" data-id="@category.ID">Edit</button>

                                <button class="deleteBtn" data-id="@category.ID">Delete</button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="3" class="text-danger">No Category Found</td></tr>}


            </tbody>
        </table>

        <div>
            @if (Model.Pager != null && Model.Pager.TotalPages > 1)
            {
                if (Model.Pager.CurrentPage > 1)
                {
                    <button class="pageButtons" data-pageNo="1"> First </button>
                    <button class="pageButtons" data-pageNo="@(Model.Pager.CurrentPage - 1)"> < </button>
                }


                for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    string activeClass = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;

                    <button class=" @activeClass pageButtons" data-pageNo="@page"> @page </button>
                }


                if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <button class="pageButtons" data-pageNo="@(Model.Pager.CurrentPage + 1)"> > </button>
                    <button class="pageButtons" data-pageNo="@Model.Pager.EndPage"> Last </button>
                }
            }

        </div>
    </div>



    <script>


    $(".pageButtons").click(function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("CategoryTable", "Category")', //'/Product/ProductTable',
            data: {
                pageNo: $(this).attr("data-pageNo"),
                search: '@Model.SearchTerm'


            }
        })
            .done(function (response) {
                $("#actionContainer").html("");
                focusAction("tableContainer");
                $("#tableContainer").html(response);
            
           


            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });



    $("#searchBtn").click(function () {
        var seacrhvalue = $("#searchtxt").val();

        $.ajax({
            type: "GET",
            url: '@Url.Action("CategoryTable", "Category")', //'/Product/ProductTable',
            data: { search: seacrhvalue }
        })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

    $("#resetBtn").click(function () {

        $.ajax({
            type: "GET",
            url: '@Url.Action("CategoryTable", "Category")', // '/Product/ProductTable',

        })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });


    $("#newBtn").click(function () {

        $.ajax({
            type: "GET",
            url :'@Url.Action("Create","Category")',
        })
            .done(function (response) {
                focusAction("actionContainer");
                $("#actionContainer").html(response);
                
            })
            .fail(function (XMLHttpResuest,textStatus,errorThrown) {
                alert("fail")
            })
    });




    $(".editBtn").click(function () {

        $.ajax({
            type: "GET",
            url: '@Url.Action("Edit", "Category")', /*'/Category/Edit',*/
            data: {
                ID: $(this).attr('data-id')
            }
        })
            .done(function (response) {
                focusAction("actionContainer")
                $("#actionContainer").html(response);
                
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });


    //$(".deleteBtn").click(function () {
    //    var dlt = confirm("Are you sure you want to delete this category?");
    //    debugger;
    //    if(dlt == true)
    //    {
    //        $.ajax({
    //            type: "POST",
    //            url: '/Category/Delete',
    //            data: { ID: $(this).attr('data-id') }
    //        })
    //            .done(function (response) {
    //                $("#tableContainer").html(response);

    //            })
    //            .fail(function (XMLHttpRequest, textstatus, errorThrown) {
    //                alert("Fail")
    //            })
    //    }

    //});

    $(".deleteBtn").click(function () {
        swal({
            title: "Confirm?",
            text: "Are you sure you want to delete this category?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete", "Category")', /*'/Category/Delete',*/
                        data: { ID: $(this).attr('data-id') }
                    })
                        .done(function (response) {
                            $("#tableContainer").html(response);
                            $("#actionContainer").html("");
                            focusAction("tableContainer");

                        })
                        .fail(function (XMLHttpRequest, textstatus, errorThrown) {
                            alert("Fail")
                        })

                    swal("Record deleted Successfully", {
                        icon: "success",
                    });
                }
            });
    });




    </script>