﻿

@*This is Category Create View*@

@model Market.Web.ViewModels.EditCategoryViewModel
@*Add this line because we are getting Caterory object from edit get method*@

@{
    
    ViewBag.Title = "Edit";
    var trueChecked = Model.isFeatured ? "checked" : string.Empty;
    var falseChecked = !Model.isFeatured ? "checked" : string.Empty;
    var imageurl = !string.IsNullOrEmpty(Model.ImageURL) ? Model.ImageURL : "/Content/Images/system/placeholder.png";
}

<h2>Edit Category</h2>


<form id="editCategory">

    <input type="hidden" name="ID" value="@Model.ID" />

    <div class="row">

        <div class="col-md-8">
            <div class="form-group">
                <lable class="form-group">Name</lable>
                <input class="form-control" name="Name" value="@Model.Name" />
            </div>

            <div class="form-group">
                <lable>Description</lable>
                <input class="form-control" name="Description" value="@Model.Description" />
            </div>

            <div class="form-group">
                <lable>Image</lable>
                <input id="ImageUrl" type="hidden" name="ImageUrl" value="@Model.ImageURL" />
                <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png,.jpg" />
                <br />
            </div>

            <div class="form-group">
                <lable>Is Featured?</lable>
                <div class="input-group">
                    <div class="radio form-control">
                        <label>       <input type="radio" name="isfeatured" value="true" @trueChecked /> true</label>
                    </div>
                    <div class="radio form-control">
                        <label>   <input type="radio" name="isfeatured" value="false" @falseChecked /> False</label>
                    </div>
                </div>
                <button id="updateBtn" type="button"> Update Category</button>
                <button id="cancleBtn" type="button"> Cancle</button>
            </div>

        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img id="Categoryimage" src="@imageurl" class="img-thumbnail  img-fluid " />
            </div>
        </div>

    </div>

</form>
<script>
    $("#cancleBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });
    $('#imageUpload').change(function () {

        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("UploadImage", "Shared")', //'/Shared/UploadImage',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {

                console.log(response)
                if (response.Success) {
                    $('#ImageUrl').val(response.ImageURL)
                    $('#Categoryimage').attr("src", response.ImageURL)
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

    $("#updateBtn").click(function () {
        debugger;
        $.ajax({
            type: "POST",
            url: '@Url.Action("Edit","Category")', //'/Category/Edit',
            data: $('#editCategory').serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
                focusAction("tableContainer");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });



</script>