﻿@model List<Market.Entities.Category>

@{
    ViewBag.Title = "caretory Index";
}
<section class="flat-row flat-iconbox">

    <div class="row">
        <div class="col-md-12">
            <div class="title-section">
                <h2 class="title">
                    Categories
                </h2>
            </div><!-- /.title-section -->
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->

</section><!-- /.flat-row -->


<div class="container">
    <div id="tableContainer">
        @Html.AntiForgeryToken()
        @{
            Html.RenderAction("CategoryTable");

            //Html.RenderAction("Create");
        }
    </div>
    <hr />
    <div id="actionContainer">

    </div>
</div>
<script>
        function focusAction(controlToFocus) {
            $('html, body').animate({
                scrollTop: $("#" + controlToFocus).offset().top - 100
            }, 1000);
        }
    </script>
 


