﻿@model CheckoutViewModel


<!-- Page title -->
<div class="page-title parallax parallax4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">@*CheckOut*@</h1>
                </div><!-- /.page-title-heading -->
                @*<div class="breadcrumbs">
                        <ul>
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="">CheckOut</a></li>

                        </ul>
                    </div>*@<!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->
<br /> <br />

<div class="row">
    <div class="col-md-12">
        <div class="title-section">
            <h2 class="title">
                Check Out
            </h2>
        </div><!-- /.title-section -->
    </div><!-- /.col-md-12 -->
</div><!-- /.row -->
@*@if (Model != null)
    {
        if (Model.CartProducts != null && Model.CartProducts.Count > 0)
        {
            <div class="container">
                @foreach (var product in Model.CartProducts)
                {
                    var productQuantity = Model.CartProductIDs.Where(productid => productid == product.ID).Count();
                    <div>
                        name :-  @product.Name  Price :- @product.Price Quantity:- @productQuantity TotalPrice:- @(product.Price * productQuantity))
                    </div>
                }
            </div>

            <div>
                Total Bill :- @Model.CartProducts.Sum(x => x.Price * Model.CartProductIDs.Where(productid => productid == x.ID).Count())
            </div>

        }
        else
        {
            <div>
                No Products in carts
            </div>
        }*@






@if (Model != null && Model.CartProductIDs != null && Model.CartProductIDs.Count > 0)
{

    var i = 1;
    <section class="flat-row main-shop shop-slidebar" style="    padding: 0px 29px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted"><b><h3>Your cart</h3></b></span>
                    </h4>

                    <ul class="list-group mb-3">

                        @foreach (var product in Model.CartProducts)
                        {
                            if (Model.CartProductIDs != null)
                            {
                                ViewBag.productQuantity = Model.CartProductIDs.Where(productid => productid == product.ID).Count();
                            }

                            //var productQuantity = Model.CartProductIDs.Where(productid => productid == product.ID).Count();

                            <li class="list-group-item d-flex justify-content-between lh-condensed" data-id="@product.ID">
                                <div>
                                    <h6 class="my-0" style="color:black;">@i -@product.Name - Qty - @ViewBag.productQuantity </h6>
                                    <small class="text-muted">@(product.Description.Length > 100 ? product.Description.Substring(0, 99) : product.Description)</small>
                                </div>
                                <span class="text-muted">Unit Price : $@product.Price -<strong> Total Price: @(ViewBag.productQuantity * product.Price)</strong></span>
                            </li>

                            i++;
                        }


                        <li class="list-group-item d-flex justify-content-between">
                            <strong>Grand Total (USD)</strong>
                            <strong>
                                @if (Model.CartProducts.Count >= 0)
                                {
                                    <p>$</p> @Model.CartProducts.Sum(x => x.Price * Model.CartProductIDs.Where(productid => productid == x.ID).Count());
                                }
                            </strong>
                        </li>
                    </ul>

                    <form class="card p-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Promo code">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-secondary" style=" color:black;   background-color: deepskyblue;">Redeem</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-8 order-md-1">
                    <h3 class="mb-3">Billing address</h3>
                    <form class="needs-validation" novalidate>

                        <div class="mb-3">
                            <label for="firstName">Full Name</label>
                            <input type="text" class="form-control" id="fullname" placeholder="" value=" @Model.User.Name" disabled>
                        </div>

                        <div class="mb-3">
                            <label for="email">Email </label>
                            <input type="email" class="form-control" id="Email" value="@Model.User.Email" disabled>

                        </div>

                        <div class="mb-3">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="Address" value="@Model.User.Address" disabled>

                        </div>



                        @*<div class="row">
                                <div class="col-md-5 mb-3">
                                    <label for="country">Country</label>
                                    <select class="custom-select d-block w-100" id="country" required>
                                        <option value="">Choose...</option>
                                        <option>United States</option>
                                    </select>

                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="state">State</label>
                                    <select class="custom-select d-block w-100" id="state" required>
                                        <option value="">Choose...</option>
                                        <option>California</option>
                                    </select>

                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="zip">Zip</label>
                                    <input type="text" class="form-control" id="zip" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Zip code required.
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="same-address">
                                <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="save-info">
                                <label class="custom-control-label" for="save-info">Save this information for next time</label>
                            </div>
                            <hr class="mb-4">

                            <h4 class="mb-3">Payment</h4>

                            <div class="d-block my-3">
                                <div class="custom-control custom-radio">
                                    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                                    <label class="custom-control-label" for="credit">Credit card</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="debit">Debit card</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="paypal">Paypal</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="cc-name">Name on card</label>
                                    <input type="text" class="form-control" id="cc-name" placeholder="" required>
                                    <small class="text-muted">Full name as displayed on card</small>
                                    <div class="invalid-feedback">
                                        Name on card is required
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="cc-number">Credit card number</label>
                                    <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Credit card number is required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label for="cc-expiration">Expiration</label>
                                    <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Expiration date required
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="cc-expiration">CVV</label>
                                    <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Security code required
                                    </div>
                                </div>
                            </div>*@




                        <hr class="mb-4">
                        <button id="placeOrderBtn" class="btn btn-lg btn-block" type="button" style=" color:black;   background-color: deepskyblue;">Place Order</button>
                        <br />  <br />  <br />  <br />  <br />
                    </form>
                </div>
            </div>

        </div>
    </section>




    <script>

    $("#placeOrderBtn").click(function () {

        $.ajax({
            type: "POST",
            url: '@Url.Action("PlaceOrder", "Shop")', //'/Product/ProductTable',

            data: {
                  productIDs: '@string.Join("-",Model.CartProductIDs)'
            }
        })
            .done(function (response) {
                if (response.Success) {
                    debugger;

                    $.cookie('cartProducts', '', { path: '/' });

                    updateCartProductsIcon();

                    swal("Done", "Your Order Has Been Placed", "success").then((value) => { window.location = '@Url.Action("Index", "Shop")'; 
                    });;
                }
                else
                {
                    swal("Failed", " Enable To Place Your Order", "Warning");
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });






    </script>

}
else
{
    <section class="flat-row main-shop shop-slidebar">
        <div class="container">


            <div class="row">
                <b> No Products in Cart </b>


            </div>

        </div>

    </section>
}









