﻿@using Market.Web.Code
@model ShopViewModel

@{
    var Defaultimageurl = "/Content/Images/system/placeholder.png";
}
<!-- Page title -->
<div class="page-title parallax parallax1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Shop</h1>
                </div><!-- /.page-title-heading -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("Index", "Shop")">Shop</a></li>

                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->

<section class="flat-row main-shop shop-slidebar">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar slidebar-shop">
                    <div class="widget widget-search">
                        <form role="search" method="get" class="search-form" action="@Url.Action("Index", "Shop")">
                            <label>
                                <input type="search" class="search-field" placeholder="Search …" value="" name="searchTerm">
                            </label>
                            <input type="submit" class="search-submit" value="Search">
                        </form>
                    </div><!-- /.widget-search -->
                    <div class="widget widget-sort-by">
                        <h5 class="widget-title">
                            Sort By
                        </h5>
                        <ul>
                            <li><a data-href="@Url.Action("FilterProducts", "Shop", new { sortBy = (int)SortByEmuns.Default })" class="dataLink @(Model.soryby.HasValue ? Model.soryby.Value == (int)SortByEmuns.Default ? "active" : string.Empty : string.Empty)">Default -Newness</a></li>
                            <li><a data-href="@Url.Action("FilterProducts", "Shop", new { sortBy = (int)SortByEmuns.Popularity })" class="dataLink @(Model.soryby.HasValue ? Model.soryby.Value == (int)SortByEmuns.Popularity ? "active" : string.Empty : string.Empty)">Popularity</a></li>
                            <li><a data-href="@Url.Action("FilterProducts", "Shop", new { sortBy = (int)SortByEmuns.PriceLowToHigh })" class="dataLink @(Model.soryby.HasValue ? Model.soryby.Value == (int)SortByEmuns.PriceLowToHigh ? "active" : string.Empty : string.Empty)">Price: low to high</a></li>
                            <li><a data-href="@Url.Action("FilterProducts", "Shop", new { sortBy = (int)SortByEmuns.PriceHighToLow })" class="dataLink @(Model.soryby.HasValue ? Model.soryby.Value == (int)SortByEmuns.PriceHighToLow ? "active" : string.Empty : string.Empty)">Price: high to low</a></li>
                        </ul>
                    </div><!-- /.widget-sort-by -->

                    <div class="widget widget-price">
                        <h5 class="widget-title">Filter by price</h5>

                        <div class="price-filter">
                            <div id="slide-range"></div>
                            <p class="amount">
                                Price: <input type="text" id="amount" disabled="">
                            </p>
                        </div>
                    </div>
                    <div class="widget widget_tag">
                        <h5 class="widget-title">
                            Featured Products
                        </h5>
                        <div class="tag-list">
                            @foreach (var category in Model.FeaturedCategories)
                            {
                                <a data-href="@Url.Action("FilterProducts", "Shop", new { categoryID = category.ID })" class="dataLink @(Model.CategoryID.HasValue && Model.CategoryID.Value == category.ID ? "active": string.Empty)"> @category.Name</a>
                            }


                        </div>
                    </div><!-- /.widget -->
                    <a data-href="@Url.Action("FilterProducts","Shop")" class="dataLink btn btn-secondary">Reset Filters </a>
                </div><!-- /.sidebar -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-9">
                <div id="ProductsDiv">
                    @{
                        var filterProductViewModel = new FilterProductViewModel();
                        filterProductViewModel.Products = Model.Products;
                        filterProductViewModel.Pager = Model.Pager;
                        filterProductViewModel.CategoryID = Model.CategoryID;
                        filterProductViewModel.soryby = Model.soryby;


                        Html.RenderPartial("FilterProducts", filterProductViewModel);

                    }
                </div>

                @*<div class="product-content product-threecolumn product-slidebar clearfix">
                        <ul class="product style2 sd1">

                            @foreach (var product in Model.Products)
                            {

                                var imageURL = string.IsNullOrEmpty(product.ImageUrl) ? Defaultimageurl : product.ImageUrl;
                                <li class="product-item">
                                    <div class="product-thumb clearfix">
                                        <a href="@Url.Action("ProductDetails", "Product",new { ID = product.ID  } )">
                                            <img src="@imageURL" alt="image" style="height:250px; width:250px">
                                        </a>
                                    </div>
                                    <div class="product-info clearfix">
                                        <span class="product-title"><br />@product.Name</span>
                                        <div class="price">
                                            <ins>
                                                <span class="amount">$@product.Price</span>
                                            </ins>
                                        </div>
                                    </div>
                                    <div class="add-to-cart text-center">
                                        <a href="#">ADD TO CART</a>
                                    </div>
                                    <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                </li>
                            }


                        </ul><!-- /.product -->
                    </div><!-- /.product-content -->
                    <div class="product-pagination text-center clearfix">
                        <ul class="flat-pagination">
                            <li class="prev">
                                <a href="#"><i class="fa fa-angle-left"></i></a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#" title="">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul><!-- /.flat-pagination -->
                    </div>*@
            </div><!-- /.col-md-9 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row -->


<script>

    var callTimeout;


    var priceSlider = $("#slide-range").slider({
            range: true,
            min: 0,
            max: @Model.MaximumPrice,
            values: [0, @Model.MaximumPrice],

            slide: function (event, ui) {

                $("#amount").val("$" + ui.values[0] + ".00" + " - " + "$" + ui.values[1] + ".00");
                clearTimeout(callTimeout);
                callTimeout = setTimeout(PriceRangeChange,500)


            }
    });



    $(".dataLink").click(function () {
        debugger;
        var url = $(this).attr("data-href");

        if (url != "" || url != undefined) {
            GetData(url);
        }
    });



    function GetData(durl)
    {
        debugger;
        console.log("Get Data Called");
        $.ajax
            ({
              type: "POST",
              url: durl,  //'Url.Action("FilterProducts", "Shop")', //'/Category/Edit',
             data:
               {
                 minimumPrice: priceSlider.slider("values",0),
                 maximumPrice: priceSlider.slider("values", 1)
               }
            })
            .done
            (
            function (response)
                {
                $("#ProductsDiv").html(response);
                }
            )
            .fail
            (function (XMLHttpRequest, textStatus, errorThrown)
            {
                alert("Fail");
            }
            );

    }


      function PriceRangeChange()
    {

        console.log("Get Data Called");
        $.ajax
            (
            {
              type: "POST",
             url: '@Url.Action("FilterProducts", "Shop")', //'/Category/Edit',
             data:
             {
             
                 searchTerm: $("#searchTerm").val(),
                 sortBy: $("#sortby").val(),
                 CategoryID: $("#categoryID").val(),
                 minimumPrice: priceSlider.slider("values",0),
                 maximumPrice: priceSlider.slider("values", 1)
                  }
            }
            )
            .done
            (
            function (response)
                {
                $("#ProductsDiv").html(response);
                }
            )
            .fail
            (function (XMLHttpRequest, textStatus, errorThrown)
            {
                alert("Fail");
            }
            );

    }


</script>